<!-- Footer Section -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logo">job portal</div>
      </div>
      <div class="col-12">
        <div class="social_links">
          <a href="" class="social_icon"><i class="fab fa-twitter"></i></a>
          <a href="" class="social_icon"><i class="fab fa-facebook-f"></i></a>
          <a href="" class="social_icon"><i class="fab fa-youtube"></i></a>
          <a href="" class="social_icon"><i class="fab fa-linkedin-in"></i></a>
          <a href="" class="social_icon"><i class="fab fa-pinterest-p"></i></a>
          <a href="" class="social_icon"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
