<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Home Body Section -->
<section id="job_desc_body">
  <div class="container bg-white px-md-4 px-sm-3 px-3 py-5">
    <div class="row">
      <div class="col-12">
        <div class="job_description">job description</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="job_designation">Data Analyst</div>
        <div class="job_location">United State of America</div>
        <div class="job_exp">experience</div>
        <div class="exp_desc">10-15 years</div>
        <div class="job_skills">Skills</div>
        <div class="skills_desc">python, java, c++, android, kotin, swift</div>
        <div class="job_desc">Description</div>
        <div class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam id
          autem explicabo esse distinctio ut, sit nihil iste! Dicta accusamus
          cumque recusandae nam voluptatum voluptatibus dolores, facere
          incidunt, nostrum consequatur assumenda omnis quae tempora asperiores
          commodi quaerat doloribus nesciunt laboriosam velit, maiores ab
          deserunt? Porro maxime illo magnam quod alias. <br /><br />
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
          molestias, maxime soluta est porro ipsa odio sint dolorem illo atque
          reprehenderit fugiat a inventore neque distinctio cum, numquam aliquam
          reiciendis iusto rerum dolor iure sapiente minus? Voluptates optio quo
          error ipsam consequuntur commodi provident et ut nihil, repudiandae
          iure illo, itaque ratione, possimus beatae! Modi harum dolore eaque
          ipsa velit minima repudiandae perspiciatis animi maiores soluta
          adipisci minus quia non voluptates similique illum exercitationem
          quidem natus quis ullam dolores, nam ut itaque obcaecati? Impedit,
          assumenda neque vel quis id, quam fuga recusandae dolores, magni quo
          error aspernatur quaerat pariatur vitae! <br /><br />
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis,
          porro?
        </div>
        <div class="thanks_text">
          Thank you for reviewing this Job Portal opportunity! Does this look
          like a great match for your skill set? If so, scroll on down and tell
          us more about yourself!
        </div>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Form for Apply the Job -->
        <div class="job_apply_heading">Apply for this job<span>*</span></div>
        <div class="row my-4">
          <div class="col-md-6">
            <form>
              <div class="mb-2">
                <label for="InputFname" class="form-label"
                  >First name <span>*</span></label
                >
                <input type="text" class="form-control" id="InputFname" />
              </div>
              <div class="mb-2">
                <label for="InputLname" class="form-label"
                  >last name <span>*</span></label
                >
                <input type="text" class="form-control" id="InputLname" />
              </div>
              <div class="mb-2">
                <label for="InputEmail" class="form-label"
                  >email <span>*</span></label
                >
                <input type="email" class="form-control" id="InputEmail" />
              </div>
              <div class="mb-2">
                <label for="InputPhone" class="form-label"
                  >Phone <span>*</span></label
                >
                <input type="tel" class="form-control" id="InputPhone" />
              </div>
              <div class="mb-2">
                <label for="InputLocation" class="form-label"
                  >Location (City) <span>*</span></label
                >
                <input type="text" class="form-control" id="InputLocation" />
              </div>
              <div class="mb-2">
                <label for="InputSchool" class="form-label"
                  >School <span>*</span></label
                >
                <input type="text" class="form-control" id="InputSchool" />
              </div>
              <div class="mb-2">
                <label for="InputDegree" class="form-label"
                  >Degree <span>*</span></label
                >
                <input type="text" class="form-control" id="InputDegree" />
              </div>
              <div class="mb-2">
                <label for="InputDiscipline" class="form-label"
                  >Discipline <span>*</span></label
                >
                <input type="text" class="form-control" id="InputDiscipline" />
              </div>
              <div type="submit" class="apply_btn">submit application</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Section -->
<app-footer></app-footer>
