<!-- Dashboard -->
<div id="dashboard">
  <div class="inner-section">
    <div class="container-fluid">
      <div class="row gx-3">
        <div class="col-md-8">
          <!-- Information -->
          <div class="information my-3">
            <div class="info_heading">Information</div>
            <div class="table-responsive">
              <table
                class="
                  table table-striped table-hover table-bordered
                  border-dark
                  table-sm
                "
              >
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                  <tr>
                    <td>Total number of jobs</td>
                    <td>520+</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Create Job -->
          <div class="create_jobs my-3">
            <div class="create_heading">create job</div>
            <form>
              <div class="mb-2">
                <label for="InputJobType" class="form-label"
                  >Job type<span>*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="InputJobType"
                  placeholder="Enter job type"
                />
              </div>
              <div class="mb-2">
                <label for="InputDesignation" class="form-label"
                  >Job Designation<span>*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="InputDesignation"
                  placeholder="Enter job designation"
                />
              </div>
              <div class="mb-2">
                <label for="InputLocation" class="form-label"
                  >Job location<span>*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="InputLocation"
                  placeholder="Enter job location"
                />
              </div>
              <div class="mb-2">
                <label for="InputSkills" class="form-label"
                  >Skills required<span>*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="InputSkills"
                  placeholder="Enter job skills required"
                />
              </div>
              <div class="mb-2">
                <label for="InputExperience" class="form-label"
                  >experience required<span>*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="InputExperience"
                  placeholder="Enter experience required"
                />
              </div>
              <div class="mb-2">
                <label for="InputShortExp" class="form-label"
                  >short description<span>*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="InputShortExp"
                  placeholder="Enter short description"
                />
              </div>
              <div class="mb-2">
                <label for="InputBriefExp" class="form-label"
                  >brief description<span>*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="InputBriefExp"
                  placeholder="Enter brief description"
                />
              </div>
              <button type="submit" class="btn submit_btn">submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!-- Job Edit and Delete -->
          <div class="job_update mb-3">
            <div class="update_heading">Edit and delete job</div>
            <div class="table-responsive">
              <table
                class="
                  table table-striped table-hover table-bordered
                  border-dark
                  table-sm
                "
              >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Job Type</th>
                    <th>Job Designation</th>
                    <th>Job Location</th>
                    <th>Skills Required</th>
                    <th>Experience Required</th>
                    <th>Short Description</th>
                    <th>Brief Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1001</td>
                    <td>Data Science</td>
                    <td>Sr. Data Analyst</td>
                    <td>Columbia</td>
                    <td>Python, Ruby, Pearl</td>
                    <td>10-20 years</td>
                    <td>Short Desc...</td>
                    <td>Brief Desc...</td>
                    <td><i class="fas fa-edit"></i></td>
                    <td><i class="fas fa-trash-alt"></i></td>
                  </tr>
                  <tr>
                    <td>1002</td>
                    <td>Data Science</td>
                    <td>Sr. Data Analyst</td>
                    <td>Columbia</td>
                    <td>Python, Ruby, Pearl</td>
                    <td>10-20 years</td>
                    <td>Short Desc...</td>
                    <td>Brief Desc...</td>
                    <td><i class="fas fa-edit"></i></td>
                    <td><i class="fas fa-trash-alt"></i></td>
                  </tr>
                  <tr>
                    <td>1003</td>
                    <td>Data Science</td>
                    <td>Sr. Data Analyst</td>
                    <td>Columbia</td>
                    <td>Python, Ruby, Pearl</td>
                    <td>10-20 years</td>
                    <td>LShort Desc...</td>
                    <td>Brief Desc...</td>
                    <td><i class="fas fa-edit"></i></td>
                    <td><i class="fas fa-trash-alt"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
