#dashboard {
  background-color: #eaf1f3;
  padding: 15px;
  min-height: 100vh;
  .inner-section {
    background-color: #fff;
    .information {
      background-color: #eaf1f3;
      padding: 20px;
      .info_heading {
        font-family: "Nunito-Bold", "sans-serif";
        font-size: 18px;
        color: #c3002f;
        text-transform: capitalize;
        text-align: center;
      }
      .table {
        thead {
          background-color: #0d47a1;
          th {
            font-family: "Nunito-Bold", "sans-serif";
            font-size: 16px;
            color: #fff;
          }
        }
        tbody {
          td {
            font-family: "Nunito-Bold", "sans-serif";
            font-size: 14px;
            color: #0d47a1;
          }
        }
      }
    }
    .create_jobs {
      background-color: #eaf1f3;
      padding: 20px;
      .create_heading {
        font-family: "Nunito-Bold", "sans-serif";
        font-size: 18px;
        color: #c3002f;
        text-transform: capitalize;
        text-align: center;
      }
      .form-label {
        font-family: "Nunito-ExtraBold", "sans-serif";
        font-size: 15px;
        color: #0d47a1;
        text-transform: capitalize;
        margin: 4px 0 2px 0;
        span {
          color: #c3002f;
        }
      }
      .form-control {
        font-family: "Nunito-SemiBold", "sans-serif";
        font-size: 14px;
        box-shadow: none;
        border-radius: 0;
        padding: 4px 5px;
        border: none;
      }
      .submit_btn {
        font-family: "Nunito-Bold", "sans-serif";
        background-color: #0d47a1;
        color: #fff;
        padding: 2px 20px;
        text-transform: capitalize;
        font-size: 14px;
        margin: 10px 0 0 0;
      }
    }
    .job_update {
      background-color: #eaf1f3;
      padding: 20px;
      .update_heading {
        font-family: "Nunito-Bold", "sans-serif";
        font-size: 18px;
        color: #c3002f;
        text-transform: capitalize;
        text-align: center;
      }
      .table {
        thead {
          background-color: #0d47a1;
          th {
            font-family: "Nunito-Bold", "sans-serif";
            font-size: 16px;
            color: #fff;
          }
        }
        tbody {
          td {
            font-family: "Nunito-Bold", "sans-serif";
            font-size: 14px;
            color: #0d47a1;
          }
        }
      }
    }
  }
}
