<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Home Body Section -->
<section id="home_body">
  <div class="container bg-white px-md-4 px-sm-3 px-3 py-5">
    <div class="row">
      <div class="col-12">
        <h1 class="heading">Welcome to Our Sites...!!!</h1>
        <h3 class="sub_heading">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quasi
          accusamus praesentium veritatis voluptate possimus.
        </h3>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quis
          dignissimos maiores inventore vero perspiciatis pariatur optio,
          reprehenderit obcaecati deserunt doloribus fugit laudantium iure porro
          nesciunt modi dolores accusantium quisquam voluptates excepturi,
          voluptas nulla earum dolorum. Dolorem dolorum accusamus cum id
          repellendus quibusdam, corrupti magnam quas reiciendis necessitatibus
          expedita sapiente officiis consectetur quisquam adipisci nisi unde
          eum, itaque natus voluptas earum perspiciatis ratione minima? Ex natus
          fugiat possimus doloribus nostrum.
        </p>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quis
          dignissimos maiores inventore vero perspiciatis pariatur optio,
          reprehenderit obcaecati deserunt doloribus fugit.
        </p>
        <hr />
      </div>
    </div>

    <!-- Job Description -->
    <div class="row" id="job_desc">
      <div class="col-12">
        <h2 class="job_heading">Jobs Available</h2>
        <div class="row pt-5">
          <div class="col-md-7 col-12 order-md-1 order-2 jobs_available">
            <!-- Jobs type #1 -->
            <div class="jobs">
              <div class="job_type">Data Science</div>
              <!-- Job #1 -->
              <div class="job">
                <div class="job_designation">Sr. Business Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
              <!-- Job #2 -->
              <div class="job">
                <div class="job_designation">Sr. Business Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
              <!-- Job #3 -->
              <div class="job">
                <div class="job_designation">Sr. Business Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
              <hr />
            </div>

            <!-- Jobs type #2 -->
            <div class="jobs">
              <div class="job_type">Data Analyst</div>
              <!-- Job #1 -->
              <div class="job">
                <div class="job_designation">Sr. Data Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
              <!-- Job #2 -->
              <div class="job">
                <div class="job_designation">Sr. Data Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
              <!-- Job #3 -->
              <div class="job">
                <div class="job_designation">Sr. Data Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
            </div>
            <hr />

            <!-- Jobs type #3 -->
            <div class="jobs">
              <div class="job_type">Data Science</div>
              <!-- Job #1 -->
              <div class="job">
                <div class="job_designation">Sr. Business Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
              <!-- Job #2 -->
              <div class="job">
                <div class="job_designation">Sr. Business Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
              <!-- Job #3 -->
              <div class="job">
                <div class="job_designation">Sr. Business Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
              <!-- Job #4 -->
              <div class="job">
                <div class="job_designation">Sr. Business Analyst</div>
                <div class="company_location">United State</div>
                <div class="sort_desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  corrupti consequuntur voluptate ipsa placeat id suscipit
                  corporis quae sunt maxime?
                </div>
                <div
                  class="read_more"
                  routerLink="/job-desc"
                  (click)="scrollToTop()"
                >
                  Read more
                </div>
              </div>
              <hr />
            </div>
          </div>

          <!-- Filter Section -->
          <div class="col-md-3 offset-md-1 col-12 filters order-md-2 order-1">
            <div class="filter_heading">Filter Jobs</div>
            <form>
              <div class="mb-2">
                <label for="InputName" class="form-label">Category</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputCategory"
                  placeholder="Enter job type"
                />
              </div>
              <div class="mb-2">
                <label for="InputNumber" class="form-label">Location</label>
                <input
                  type="text"
                  class="form-control"
                  id="InputLocation"
                  placeholder="Enter job location"
                />
              </div>
              <button type="submit" class="btn search_btn">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Section -->
<app-footer></app-footer>
